<div class="account-form" *ngIf="newAccount">
  <button mat-icon-button (click)="createAccountToggle()" class="close-create-account">
    <mat-icon aria-label="Cancel">close</mat-icon>
  </button>
  <mat-form-field>
    <input matInput placeholder="Intial Balance" type="number" class="form-input-right-align" #initialBalance>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="createAccount(initialBalance.value); initialBalance.value=''">Create</button>
</div>
<button *ngIf="!newAccount" class="new-account-button" mat-raised-button color="primary" (click)="createAccountToggle()">Add
  new Account</button>
<mat-nav-list>
  <h3 mat-subheader>Accounts</h3>
  <mat-list-item *ngFor="let account of accounts" (click)="onSelect(account)">
    <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
    <h4 mat-line>{{account.id}}</h4>
    <p mat-line> {{account.balance | currency}} </p>
  </mat-list-item>
  <div class="account-detail" *ngIf="account">
    <h2>Account: {{account.id}} Details</h2>
    <div><span>Balance: </span>{{account.balance | currency}}</div>
    <div><span>Created: </span>{{account.created | date}}</div>
    <app-transactions [account]="account"></app-transactions>
  </div>
</mat-nav-list>