@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

.app-root {
    position: relative;
}

.mat-nav-list, .account-detail {
    margin-left: 30px;
    @include size(600px)
}

.account-form {
    display: flex;
    flex-direction: column;
}

.account-form > * {
    margin-left: 30px;
    width: 600px;
}

.form-input-right-align {
    text-align: right;
}

.close-create-account {
    text-align:right;
    .button{
        display:inline;
    }
}

input.form-input-right-align::-webkit-outer-spin-button,
input.form-input-right-align::-webkit-inner-spin-button {
    display: none;
}

input.form-input-right-align {
    -moz-appearance: textfield;
}

.new-account-button {
    margin-left: 30px;
    margin-top: 30px;
}