<mat-list role="list">
  <h3 mat-subheader>Transactions</h3>
  <mat-list-item *ngFor="let transaction of account.transactions">
    <mat-icon mat-list-icon>attach_money</mat-icon>
    <h4 mat-line>{{transaction.id}}</h4>
    <p mat-line> {{transaction.amount | currency}} </p>
    <p mat-line> {{transaction.description}} </p>
    <p mat-line> {{transaction.created | date}} </p>
  </mat-list-item>
</mat-list>