<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <button mat-flat-button color="primary" routerLink="/customers" routerLinkActive="active">Customers</button>
</nav>
<router-outlet></router-outlet>