<mat-nav-list>
  <h3 mat-subheader>Customers</h3>
  <mat-list-item *ngFor="let customer of customers" routerLink="/accounts/{{customer.id}}" routerLinkActive="active">
    <mat-icon mat-list-icon>person</mat-icon>
    <h4 mat-line>{{customer.name}}</h4>
    <p mat-line> {{customer.surname}} </p>
  </mat-list-item>
</mat-nav-list>